* {
  margin: 0;
}

/* html {
  background-color: black;
} */

.inputs {
  /* position: fixed; */
  top: 10px;
  left: 10px;
  padding: 10px;
  background: white;
}

.header {
  padding: none;
  background-color: #999;
  text-align: center;
  line-height: 2rem;
  height: 2rem;
  cursor: move;
}

label {
  display: block;
  margin-bottom: 5px;
}
input {
  display: block;
  margin-bottom: 10px;
}

.window {
  position: fixed;
  display: block;
  font-family: monospace;
}

.hidden {
  display: none;
}